
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'work sans', sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0 0 200px 0;
    background: linear-gradient(to left, #748697, #b3b1b3, #748697);

}

.header{
    background: rgb(198, 198, 198);
    height: 100px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 0 rgba(233, 246, 246, 0.82);



}
.nav ul {
    display: flex;
    margin:25px 50px;
    list-style-type: none;
    padding:0;
    height:100%;



}
.nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Times New Roman";
    font-size: 25px;
    display: block;
    width:175px;
    text-align: center;
    padding:10px 0;
}
.nav ul li a:hover{
    transform:translateY(3%);
    border-bottom:2px solid lightslategrey;
}

#current{
    border-bottom:2px solid lightslategrey;
    transform:translateY(3%);
}


.logo{
    display: block;
    height:80%;
    margin-left:25px;
    margin-top:10px;
}

